<h1>dashboard</h1>
<button (click)="logout()">Logout</button>

<div *ngIf="complaintsLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="complaints.length">
  <div *ngIf="!complaintsLoading">
    <h2>Complaints</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints">
          <td>{{ complaint.id }}</td>
          <td>{{ complaint.title }}</td>
          <td>{{ complaint.description }}</td>
          <td>{{ complaint.status }}</td>
          <td>
            <select
              [(ngModel)]="complaint.asignee"
              (change)="assignUser(complaint.id, $event)"
            >
              <option value="">
                {{ getAssigneeName(complaint.assignee) || "Select User" }}
              </option>
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.username }}
              </option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="usersLoading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="users.length">
  <div *ngIf="!usersLoading">
    <h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
